/***************HOME CSS *************/
.home-body{
    background: linear-gradient(
    to right,
    white 0%, white 50%, #ff9b4b 50%, #ff9b4b 100%
    );
    
}
.home-container{
background-color: black;
width: 100vh;
height: 50vh;
color: white;
border: 50px double;
border-left-color: darkorange;
border-right-color: darkorange;
margin: auto;
margin-top: 22vh;
}
h1{
    text-align: center;
    font-size: 120px;
    overflow: hidden;
    border-right: .05em solid orange;
    white-space: nowrap;
    letter-spacing: 0em;
margin: auto;
margin-top: 15vh;
}
#home-hi{
  animation: typewriter 3s steps(40),blink 1s step-end infinite, hideElement 0.1s linear 3s forwards;
}
#name{
  animation: showElement 1s linear 3s forwards, typeName 3s steps(40), blink 1s step-end infinite, hideElement 0.1s linear 6s forwards;
  opacity: 0;
  margin-top: -15vh;
  font-size: 100px;
}
#home-name{
  font-size: 110px;
  margin-top: -25vh;
  animation: showName 1s linear 6s forwards, hideName 0.1s 9s forwards;
  opacity: 0;
}
#homeWelcome{
  font-size: 100px;
  margin-top: -30vh;
  opacity: 0;
  animation: showWelcome 1s linear 9s forwards;
}
#exploreButton{
  text-align: center;
  margin-left: 41vw;
  font-size: 50px;
  margin-top: -55px;
  display: flex;
  background: #f6a809;
  color: brown;
  border: 5px solid brown;
  opacity: 0;
  animation: showButton 1s linear 11s forwards;

}
#exploreButton:hover{
  background: black;
  color: orange;
  border-color: #f6a809;
}
/********************ABOUT ME CSS****************/
.aboutBody{
  background: linear-gradient(
    to right,
    white 0%, white 50%, #ff9b4b 50%, #ff9b4b 100%
    );

}
.navContainer{
  height: 10vh;
  background-color: wheat;
  position: fixed;
  top: 0; 
  left:0;
  margin: 0px;
  padding:10px 70px 10px 70px;
  width: 100%;
  right: 0;
  border-bottom: 6px solid salmon;
}
@media only screen and (max-width: 600px){
.navContainer{
  width: 400px;
  margin-left: -8px;
}
}

.aboutName{
  text-align: center;
  font-size: 50px;
  margin-top: -10vh;
  letter-spacing: 0.1em;
  margin-right: -30px;
  
}
@media only screen and (max-width: 600px ) {
  .aboutName{
    font-size: 22px;
    margin-left: 12px;
  }
}
.aboutMission{
  font-size: 35px;
  margin-top: 50px;
}
@media only screen and (max-width: 600px){
.aboutMission{
  font-size: 15px;
}
}
.aboutVideo{
  margin-top: 200px;
  margin-left: 21vw;
  height: 450px;
  width: 800px;
}
@media only screen and (max-width: 600px){
  .aboutVideo{
    height: 300px;
    width: 345px;
    margin-left: 6px;
    margin-top: 40px;;
  }
}
.aboutHome{
  margin-top: 60px;
  margin-left: 10px;
  font-size: 25px;
  color: darkorange;
  background-color: white;
  border: 6px double black;
  letter-spacing: 0.1em;
}
.aboutAboutMe{
  margin-left: 100px;
  color: darkorange;
  background-color: white;
  border: 6px double black;
  letter-spacing: 0.1em;
  font-size: 25px;
}
.aboutProjects{
  font-size: 25px;
  border: 6px double black;
  color: darkorange;
  background-color: white;
  letter-spacing: 0.1em;
  margin-left: 920px;
  margin-top: -50px;
  display: flex;
  
}
.aboutContact{
  font-size: 25px;
  border: 6px double black;
  color: darkorange;
  background-color: white;
  letter-spacing: 0.1em;
  margin-left: 1100px;
  margin-top: -42px;
  display: flex;
}
/*************PROJECTS***************************/
.projectsNav{
  height: 10vh;
  background-color: wheat;
  position: fixed;
  top: 0; 
  left:0;
  margin: 0px;
  padding:10px 70px 10px 70px;
  width: 100%;
  right: 0;
  border-bottom: 6px solid salmon;

}
body{
  background: linear-gradient(
    to right,
    white 0%, white 50%, #ff9b4b 50%, #ff9b4b 100%
)}
.projectsHome{
  margin-top: 60px;
  margin-left: 10px;
  font-size: 25px;
  color: darkorange;
  background-color: white;
  border: 6px double black;
  letter-spacing: 0.1em;
}
.projectsAboutMe{
  margin-left: 100px;
  color: darkorange;
  background-color: white;
  border: 6px double black;
  letter-spacing: 0.1em;
  font-size: 25px;
}
.projectsProjects{
  font-size: 25px;
  border: 6px double black;
  color: darkorange;
  background-color: white;
  letter-spacing: 0.1em;
  margin-left: 920px;
  margin-top: -50px;
  display: flex;
  
}
.projectsContactMe{
  font-size: 25px;
  border: 6px double black;
  color: darkorange;
  background-color: white;
  letter-spacing: 0.1em;
  margin-left: 1100px;
  margin-top: -42px;
  display: flex;
}

/**************CAROUSEL********************/
* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 200px;
  display: flex;
  border: 6px solid black;
  border-radius: 25px;

}
.projectsCarousel {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: darkorange;
  font-weight: bold;
  font-size: 25px;
  transition: 0.1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,1);
}
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/*********************KEYFRAMES******************/
@keyframes typewriter {
    from { width: 0% }
    to { width: 100%}
  }
@keyframes blink{
    from, to { border-color: white;}
    50% { border-color: orange; }
  }
  @keyframes hideElement{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
@keyframes showElement{
0%{
  opacity: 0;
}
100%{
  opacity: 1;
}
}
@keyframes typewriter {
  from { width: 0% }
  to { width: 100%}
}
@keyframes blink{
  from, to { border-color: white;}
  50% { border-color: orange; }
}
@keyframes hideElement{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes hideElement{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes showName{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes hideName{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes showWelcome{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes showButton{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}